abc.history
*.blif
*.pdf
*.dot
*.log
*.vcd
parser.out
parsetab.py
out/
out_*/
*.do
work/
work_*/
transcript
*.mpf
modelsim.ini
exp_outputs/
exp_outputs_*/
dynamatic_output/
xls_output/
*.wlf
*.cr.mti
*.aig
*.bo
*.ba
a.out
a.out.so
bsc_outputs/
yosys_output/
cosim/
*.egg-info
**/sim/
/build/
/.cache/
**/obj_dir/
*.exe

hls_examples/** 
iccad_2025_benchmark_results/** 